body {
    max-width: 80%;
    margin: auto;
    padding: 10px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border: 2px solid red;  
    margin: 20px;
    background-color: rgb(248, 248, 248);
}

#main, #empty {
    display: none;
    align-items: stretch;
    justify-content: space-around;
}
#main {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-row-gap: 10%;
}


table {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    grid-column: span 2;
    justify-self: center;
}
th, td {
    padding: 15px;
    text-align: left;
  }
th {
    background-color: rgb(248, 70, 70);
    color: white;
}

th, td {
    border-bottom: 1px solid #ddd;
}
  
tr:nth-child(even) {background-color: #f2f2f2;}


#depot {
}