
header {
    height: fit-content;
    border: 3px solid black;  
    border-radius: 5px;
    margin: 25px;
    background-color: rgb(248, 248, 248);
    text-align-last: center;
    width: 75%;
}
body {
    max-width: 80%;
    margin: auto;
    padding: 10px;
    background-color: #ce0700d8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#recherche-fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    justify-items: center;
}

#recherche-fields div label {
    width: fit-content;
    font-size: 120%;
    display: block;
}

#recherche-page {
    margin: 10px;
    background-color: #f8f8f8;
    padding: 15px;
    border-radius: 15px;
    border: 3px solid black;
    text-align-last: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    grid-column: span 2;
    justify-self: center;
}
th, td {
    padding: 15px;
    text-align: left;
  }
thead {
    font-weight: bold;
    font-size: 110%;
}

th, td {
    border-bottom: 3px solid #ddd;
}
  
tr:nth-child(even) {background-color: #f2f2f2;}

#main {
    padding: 20px;
    background-color: #f8f8f8;
    border: 2px solid black;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;
    width: 100%;
}

h1, h2 {
    color: #ce0700d8;
}

#titre_fiche {
    text-align: center;
    font-size: 42px;
    color: white;
}

ul {
    list-style: none;
    line-height: 20px;
    padding-left: 15px;
}

input {
    width: 250px;
    padding: 10px 5px;
    margin: 5px 0;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border-radius: 10px;
    margin: 10px;
}

select {
    padding: 10px;
    font-size: 100%;
    margin: 10px;
}

#strike {
    text-decoration-line: line-through;
} 

@media only screen and (max-width: 1200px) {
    body {
        max-width: 100%;
    }
    th, td {
        padding : 10px;
    }
  }
@media only screen and (max-width: 900px) {
    #recherche_table {
        width: 100%;
    }
    body {
        font-size: 90%;   
    }
    #recherche_table tr th,#recherche_table tr td {
        padding : 5px;
    }
}
@media only screen and (max-width: 750px) {
    body, #recherche-page {
        margin: 0px;
    }
    body {
        padding: 0px
    }
    #recherche_table tr th, #recherche_table tr td {
        padding : 3px;
    }
    #main {
        grid-template-columns: 1fr;
    }
    header {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    header {
        width: fit-content;
    }
    #recherche-page {
        padding: 0px;
        width: fit-content;
    }
    #recherche_table tr th, #recherche_table tr td {
        padding : 1px;
    }
}