.page{
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    background-color: white;
    box-shadow: 24;
    border-top: solid var(--main) 9px;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    margin-bottom: 50px;
    display: grid;
}

.flex {
    display: flex;
    justify-content: space-between;
}