.fiche {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(max(300px,30vw), 1fr));
    grid-gap: 24px 40px;
}

.prixInitial {
    text-decoration: line-through;
    font-size: 17px;
    font-weight: 500;
}

.prixUnique {
    font-size: 20px;
    font-weight: 500;
}